*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
  background-color: black;
  font-family: 'Poppins', sans-serif;
}
header{
    position: sticky;
    top: 0px;
    z-index: 3;
    
}

#header-nav {
    background-color: black;
    border-radius: 0;
    border: 0;
    margin-top: 30px;
}
#nav-list{
    margin-top: 10px;
}
#nav-list a{
    color: white;
    text-align: center;
    background: transparent;
}
#nav-list a:hover{
    font-size: 15px;
    text-decoration: underline;
}
#nav-list a span{
    font-size: 1.8em;
}
.navbar-brand a{
    text-decoration: none;
}
.navbar-brand h1{
    background-color: black;
    font-weight: 700;
    color: white;
    font-size: 20px;
    margin: 0px;
    text-decoration: none;
}

.header{
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.name{
  font-weight:bolder;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 20px;
  animation: hello2 1s ease-in;
  overflow: hidden;
  
 
}

.years{
    font-weight: 500;
    font-size: 20px;
    animation: hello 4s ease-in;
  
}
.header video{
    width: 60%;
    margin-top: 250px;
    position: absolute;
    border-radius: 2rem;
    animation: hello 4s ease-in;
    
}
@keyframes hello{
    from{
      opacity: 0 ;
    }
    to{
     opacity: 1;
    }
}
@keyframes hello2 {
    from{
       opacity: 0;
       transform: translate(0,+80%) ;
    }
    to{
       opacity: 1;
       transform: translate(0,0) ;
    }
}

.content{
    width: 100%;
    height: 70vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
   
}
.content .image{
    height: 60vh;
    margin-top: 98px;
    
   
}
.quo{
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 30px;

}
.quo .quo1{
    font-size: 50px;
    margin-left: 30px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Niconne', cursive;
    padding-bottom: 20px;
}


.bio{
    width: 100%;
    height: 70vh;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}
.bio .heading{
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 20px;
  
    text-transform: uppercase;
}
.bio .para{
    width: 50%;
    font-size: 15px;
    margin-top: 10px;
}
.cardbox{
    background-color:black;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-top: 50px;
    margin-bottom: 20px;
}
.card1,.card2,.card3{
margin-top: 50px;
 width: 18%;
 height: 50vh;
 border-top: 1px solid rgba(255,255,255,0.5);
 border-left: 1px solid rgba(255,255,255,0.5);
 background-color: rgba(255,255,255,0.1);
 backdrop-filter: blur(50px);
 border-radius: 25px;
 color: white;
 display: flex;
 flex-direction: column;
overflow: hidden;
 align-items: center;
 padding-top: 50px;
 position: relative;
 box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
}
.card1 img{
    width: 250px;
    height: 250px;
}

.card2 img{
    width: 250px;
    height: 250px;
}
.card3 img{
    width: 150px ;
    height: 150px;
    margin-top: 50px;
}
.cardt1,.cardt2,.cardt3{
    width: 50%;
    height: 40px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    text-align: center;
    border: 2px solid white;
    box-shadow: 0px 1px 10px     black;
    border-radius: 20px;
    font-size: 2rem;
    bottom: 50px;
    position: absolute;
    background-color: rgba(255,255, 255, 0.2);
}
.achive{
    height: 70vh;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.achive h2{
    text-transform: uppercase;
    font-weight: bolder;
}
.achi{
    display: flex;
    width: 100%;
    height: 90%;
    
    align-items: center;
    justify-content: space-around;

}
.achi1,.achi2,.achi3,.achi4{
    height: 70%;
    background-color: black;
    width: 15%;
    margin: 10px;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px 10px black;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.achi1 img ,.achi2 img,.achi3 img,.achi4 img{
    width: 100%;
    height: 100%    ;
    position: absolute;
    z-index: 2;
    
}
.ac1{
    position: absolute;
    width: 100%;
    height: 100%;
    
    animation: achi11 ease-in-out forwards 1000ms;
    animation-delay: 2s;
    z-index: 1;

    
}
.a1,.a2,.a3,.a4{
   height: 100%;
   width: 100%;
   text-align: center;
   font-size: 20px;
   padding: 10px;
   text-transform: capitalize;
   font-weight: bolder;
   top: 50px;
   position: absolute;
   z-index: 0;

}
.a2 , .a3 , .a4{
    top: 35%;
}
.achi1:hover ,.achi2:hover ,.achi3:hover ,.achi4:hover{
    filter: grayscale();
    background-blend-mode: exclusion;
}
.achi img:hover{
    animation: ach ease-in-out forwards 1000ms;
    
}

.achi .a1:hover ,.achi .a2:hover, .achi .a3:hover , .achi .a4:hover{
    animation: achtext ease-in-out forwards 1000ms;
    
    animation-delay: 1s;
}
@keyframes achi11{
    form{
          background-color: blue;
          opacity: 0;
    }
    to{
        background: rgb(38,192,193);
background: linear-gradient(342deg, rgba(38,192,193,1) 8%, rgba(245,3,36,1) 84%);
         opacity: 0.5;
    }
}
@keyframes ach{
    from{
      opacity: 1;
     
    }
    to{
     opacity: 0;
     
    }
}
@keyframes achtext{
    from{
       /* opacity: 0; */
       transform: translate(0,0);
    }
    to{
       /* opacity: ; */
       transform: translate(0,-20%);
    }
}
.foot{
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
}
@media screen and (max-width: 767px){
    .navbar-brand h1{
        
        font-size: 15px;
        
    }
    .header{
        height: 90vh;
    }
    .header video{
        margin-top: 350px;
        width: 90%;

    }
    .content{
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        align-items: center;
        height: 60vh;
    }
    .quo .quo1{
        position:absolute;
        top: 50px;
        right: 20px;
        text-align: center;
        font-size: 20px;
       
    }
    .content .image{
        height: 40vh;
        margin-top: 98px;
    }
    .bio{
        height: 110vh;
        
        flex-direction: column;
        position: relative;
        
    }
    .bio .para{
        font-size: 15px;
        width: 90%;
      
    }
    .cardbox{
        flex-direction: column;
        height: 1300px;
        align-items: center;
        position: relative;
        margin-bottom: 10px;
    }
    .card1,.card2,.card3{
        width: 50%;
        
    }
    .cardt1,.cardt2,.cardt3{
      font-size: 15px;
      padding-top: 5px;
      bottom: 20px;
    }
    .card1 img{
        position: absolute;
       top: -20px;
    }
    .card2 img{
        position: absolute;
        top: 0px;
    }
    .card3 img{
        position: absolute;
        top: 0px;
    }
    .achive{
        height: 150vh;
    }
    
    .achi{
       
        flex-direction: column;
    
    }
    .achi1,.achi2,.achi3,.achi4{
        width: 40%;
    }
    .a1,.a2,.a3,.a4{
        font-size: 12px;
        
    }

}

@media screen and (max-width: 991px) and (min-width: 768px){
    .header{
        height: 80vh;
    }
    .content{
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        align-items: center;
        height: 60vh;
    }
    .quo .quo1{
        position:absolute;
        top: 50px;
        right: 20px;
        text-align: center;
        font-size: 25px;
       
    }
    .content .image{
        height: 40vh;
        margin-top: 98px;
    }
    .bio{
        height: 70vh;
        
        flex-direction: column;
        position: relative;
        
    }
    .bio .para{
        font-size: 15px;
        width: 90%;
      
    }
    .achi1,.achi2,.achi3,.achi4{
        width: 25%;
    }
    .a1{
        top: 30%;
    }
    .a1,.a2,.a3,.a4{
        font-size: 12px;
        
    }
    .card1,.card2,.card3{
        width: 30%;
        
    }
}

@media screen and (max-width: 1307px) and (min-width: 992px){
    .header{
        height: 80vh;
    }
    .content{
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        align-items: center;
        height: 60vh;
    }
    .quo .quo1{
        position:absolute;
        top: 50px;
        right: 20px;
        text-align: center;
        font-size: 30px;
       
    }
    .content .image{
        height: 40vh;
        margin-top: 98px;
    }
     .bio{
        height: 60vh;
        
        flex-direction: column;
        position: relative;
        
    }
    .bio .para{
        font-size: 15px;
        width: 90%;
      
    }
    .achi1,.achi2,.achi3,.achi4{
        width: 25%;
    }
    .a1{
        top: 30%;
    }
    .a1,.a2,.a3,.a4{
        font-size: 15   px;
        
    }
    .card1,.card2,.card3{
        width: 25%;
        
    }
}
