*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
  background-color: black;
  font-family: 'Poppins', sans-serif;
}
header{
    position: sticky;
    top: 0px;
    z-index: 2;
    
}

#header-nav {
    background-color: black;
    border-radius: 0;
    border: 0;
    margin-top: 30px;
}
#nav-list{
    margin-top: 10px;
}
#nav-list a{
    color: white;
    text-align: center;
    background: transparent;
}
#nav-list a:hover{
    font-size: 15px;
    text-decoration: underline;
}
#nav-list a span{
    font-size: 1.8em;
}
.navbar-brand a{
    text-decoration: none;
}
.navbar-brand h1{
    background-color: black;
    font-weight: 700;
    color: white;
    font-size: 20px;
    margin: 0px;
    text-decoration: none;
}

.header{
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.name{
  font-weight:bolder;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 100px;
  margin-bottom: 20px;
  animation: hello2 1s ease-in;
  overflow: hidden;
  
 
}

.years{
    font-weight: 500;
    font-size: 20px;
    animation: hello 4s ease-in;
  
}
.header video{
    width: 60%;
    margin-top: 250px;
    position: absolute;
    border-radius: 2rem;
    animation: hello 4s ease-in;
    
}
@keyframes hello{
    from{
      opacity: 0 ;
    }
    to{
     opacity: 1;
    }
}
@keyframes hello2 {
    from{
       opacity: 0;
       transform: translate(0,+80%) ;
    }
    to{
       opacity: 1;
       transform: translate(0,0) ;
    }
}

.content{
    width: 100%;
    height: 70vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
   
}
.content .image{
    height: 60vh;
    margin-top: 98px;
    
   
}
.quo{
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 30px;

}
.quo .quo1{
    font-size: 50px;
    margin-left: 30px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Niconne', cursive;
    padding-bottom: 20px;
}


.bio{
    width: 100%;
    height: 70vh;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}
.bio .heading{
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 20px;
  
    text-transform: uppercase;
}
.bio .para{
    width: 50%;
    font-size: 15px;
    margin-top: 10px;
}
.cardbox{
    background-color:black;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.card1,.card2,.card3{
margin-top: 50px;
 width: 18%;
 height: 50vh;
 border-top: 1px solid rgba(255,255,255,0.5);
 border-left: 1px solid rgba(255,255,255,0.5);
 background-color: rgba(255,255,255,0.1);
 backdrop-filter: blur(50px);
 border-radius: 25px;
 color: white;
 display: flex;
 flex-direction: column;
overflow: hidden;
 align-items: center;
 padding-top: 50px;
 position: relative;
 box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
}
.card1 img{
    width: 250px;
    height: 250px;
}

.card2 img{
    width: 250px;
    height: 250px;
}
.card3 img{
    width: 150px ;
    height: 150px;
    margin-top: 50px;
}
.cardt1,.cardt2,.cardt3{
    width: 50%;
    height: 40px;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    text-align: center;
    border: 2px solid white;
    box-shadow: 0px 1px 10px     black;
    border-radius: 20px;
    font-size: 2rem;
    bottom: 50px;
    position: absolute;
    background-color: rgba(255,255, 255, 0.2);
}
@media screen and (max-width: 767px){
    .navbar-brand h1{
        
        font-size: 15px;
        
    }
    .header{
        height: 80vh;
    }
    .header video{
        margin-top: 350px;
        width: 90%;

    }
    .content{
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        align-items: center;
        height: 60vh;
    }
    .quo .quo1{
        position:absolute;
        top: 50px;
        right: 20px;
        text-align: center;
        font-size: 20px;
       
    }
    .content .image{
        height: 30vh;
        margin-top: 98px;
    }
    .bio{
        height: 1000px;
        
        flex-direction: column;
        position: relative;
        
    }
    .bio .para{
        font-size: 15px;
        width: 90%;
      
    }
    .cardbox{
        flex-direction: column;
        height: 1300px;
        align-items: center;
        position: relative;
        margin-bottom: 10px;
    }
    .card1,.card2,.card3{
        width: 50%;
        
    }
    .cardt1,.cardt2,.cardt3{
      font-size: 15px;
      padding-top: 5px;
      bottom: 20px;
    }
    .card1 img{
        position: absolute;
       top: -20px;
    }
    .card2 img{
        position: absolute;
        top: 0px;
    }
    .card3 img{
        position: absolute;
        top: 0px;
    }
    


}